.footer-div {
	left: 0;
	position: fixed;
	right: 0;
	bottom: 0;
	min-height: 3.0rem;
	padding-left: 0;
	padding-right: 0;
	padding-top: 8px;
	padding-bottom: 8px;
	background-color: transparent;
}

.bottom-bar-buttons {
	padding-left: 8px;
}
