.map-wrap {
    position: absolute;
    width: 100%;
    height: calc(100% - 60px);
    /* calculate height of the screen minus the heading */
}

.map {
    position: absolute;
    width: 100%;
    height: 100%;
}

.maplibregl-ctrl-logo,
.mapboxgl-ctrl-logo {
    position: fixed;
    bottom: 64px !important;
    min-width: 90px;
}

.mapboxgl-ctrl-top-right,
.maplibregl-ctrl-top-right {
    top: 60px !important;
}

.mapboxgl-ctrl-group button,
.maplibregl-ctrl-group button {
    width: 44px !important;
    height: 44px !important;
}

.mapboxgl-ctrl-zoom-in .mapboxgl-ctrl-icon,
.mapboxgl-ctrl-zoom-out .mapboxgl-ctrl-icon,
.maplibregl-ctrl-attrib .mapboxgl-ctrl-attrib,
.mapboxgl-ctrl-geolocate {
    filter: contrast(80%);
}

.mapboxgl-ctrl-group:not(:empty), .maplibregl-ctrl-group:not(:empty)
{
    box-shadow: 0 .5em 1em -.125em rgba(10,10,10,.1),0 0 0 1px rgba(10,10,10,.02)
}