/* .heading {
    top: 0;
    margin: 0;
    padding: 0px;
    background-color: #008954eb;
    color: white;
    text-align: left;
}

.heading > h1 {
    padding: 20px;
    margin: 0;
} */

.navbarUrl {
	color: #effaf5 !important;
}
.navbarLogo {
	width: 35px;
	height: 35px;
	fill: #effaf5 !important;
	filter: drop-shadow(2px 2px 2px #026841e0);
}
