@import '~bulma-checkradio';

html {
  overflow-y: hidden !important; /* Hide vertical scrollbar */
  overflow-x: hidden !important; /* Hide horizontal scrollbar */
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.has-background-green {
  background-color: #028955 !important;
}

.has-background-green a {
  color: #effaf5 !important;
}

.has-background-yellow {
  background-color: #ffcc00 !important;
}

.has-background-blue {
  background-color: #3e8ed0 !important;
}

.has-background-red {
  background-color: #ff3333 !important;
}

.has-background-gray {
  background-color: #7a7a7a !important;
}

.navbar-item a:hover
{
  color: #000000 !important;
}

.column
{
  border-radius: 4px;
}
