name: Test CI test

on:
  push:
    branches-ignore:
    - main
    - dev
    paths:
    - src/**
    - public/**
    - package*.json
    - .github/workflows/ci_test.yml
  pull_request:
    types: [opened, reopened, synchronize, ready_for_review]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Check JSON syntax errors in translations via jq
      run: jq . public/locales/*/translation.json > /dev/null
    - name: Setup Node JS
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: npm install
    - name: Run TypeScript typecheck
      run: npm run typecheck
    - name: Run tests
      run: npm run test
