name: Deploy to development env

on:
  push:
    branches:
    - dev
    paths:
    - src/**
    - public/**
    - package*.json
    - .github/workflows/deploy_development.yml

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: development
    steps:
    - name: Install SSH Key
      uses: kielabokkie/ssh-key-and-known-hosts-action@v1
      with:
        ssh-private-key: ${{ secrets.SSH_PRIVATE_KEY }}
        ssh-host: ${{ secrets.SSH_HOST_NEW_IP }}
        ssh-port: ${{ secrets.SSH_HOST_NEW_PORT }}
    - name: Checkout repo
      uses: actions/checkout@v3
    - name: Setup Node JS
      uses: actions/setup-node@v3
      with:
        node-version: 18
    - name: Install dependencies
      run: npm install
    - name: Run TypeScript typecheck
      run: npm run typecheck
    - name: Run tests
      run: npm run test
    - name: Build app
      env:
        REACT_APP_ENV: development
        REACT_APP_OSM_API_URL: ${{ secrets.REACT_APP_OSM_API_URL }}
        REACT_APP_OSM_OAUTH2_CLIENT_ID: ${{ secrets.REACT_APP_OSM_OAUTH2_CLIENT_ID }}
        REACT_APP_OSM_OAUTH2_CLIENT_SECRET: ${{ secrets.REACT_APP_OSM_OAUTH2_CLIENT_SECRET }}
        REACT_APP_BACKEND_API_URL: ${{ secrets. REACT_APP_BACKEND_API_URL_NEW }}
      run: npm run build
    - name: Create robots.txt
      run: |
        cat << 'EOF' >> build/robots.txt
        # https://www.robotstxt.org/robotstxt.html
        User-agent: *
        Disallow: /
        EOF
    - name: Run deploy script on host
      run: |
        scp -rp -P${{ secrets.SSH_HOST_NEW_PORT }} build/* ${{ secrets.SSH_USER_NEW }}@${{ secrets.SSH_HOST_NEW_IP }}:~/dev-static/
        